<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Mongo - Spring Boot Thymeleaf example</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div th:insert="~{fragments/header :: header}"></div>

  <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Users</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="my-3">
      <form th:action="@{/users}">
        <div class="row d-flex">
          <div class="col-md-6 mt-2">
            <div class="search">
              <i class="fa fa-search"></i>
              <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                placeholder="Enter keyword">
              <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <button id="btnClear" class="btn btn-info">Clear</button>
          </div>
        </div>
      </form>
    </div>

    <div th:if="${users.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Created Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <th scope="row">[[${user.userId}]]</th>
            <td>[[${user.name}]]</td>
            <td>
              <a th:if="${user.status == true}" class="fa-regular fa-square-check"
                th:href="@{'/user/' + ${user.userId} + '/status/false'}" title="Disable this user">Active</a>
              <a th:if="${user.status == false}" class="fa-regular fa-square icon-dark"
                th:href="@{'/user/' + ${user.userId} + '/status/true'}" title="Enable this user">Disable</a>
            </td>
            <td>[[${user.creationDate}]]</td>
            <td>
              <a th:href="@{'/user/edit/' + ${user.userId}}" title="Edit this User"
                class="fa-regular fa-pen-to-square icon-dark">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="" th:unless="${users.size() > 0}">
      <span>No users found!</span>
    </div>
  </div>

  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div th:insert="~{fragments/footer :: footer}"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);

        userTitle = link.attr("userTitle");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete the User \<strong\>" + userTitle + "\<\/strong\>?");
        $("#confirmModal").modal();
      });

      $("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/users}]]";
      });
    });
  </script>

</body>

</html>